@import "base.css";

header h1 {
    color: #fff;
    font-size: 96px;
    margin: .25em 0;
}

header h3 {
    color: #aaa !important;
    font-size: 24px;
}

section:first-child {
    border: none;
}

blockquote {
    font-size: 1.5em;
    display: inline-block;
    margin: .5em 0 1em;
}

blockquote.quote {
	background: #eee;
	border: 1px solid #ddd;
	font-size: 1em;
}

.banner {
    padding: 1em 0;
    background: #333;
    width: 100%;
}

.quotes {
    background: #eee;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.quote {
    text-align: center;
}

#apps article {
    margin: 1em 0;
    width: 100%;
	padding-bottom: 1em;
}

img.thumb {
    display: inline-block;
	background: #fff;
    border: 1px solid #999;
    padding: 4px;
    margin: 0 1.5em 1em 0;
	-webkit-box-shadow: 1px 1px 3px #111;
	-moz-box-shadow: 1px 1px 3px #111;
	-o-box-shadow: 1px 1px 3px #111;
	-ms-box-shadow: 1px 1px 3px #111;
	box-shadow: 1px 1px 3px #111;
	
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease;
}

@media screen {
    img.thumb:hover {
        border-color: #111 !important;
		-webkit-box-shadow: 5px 5px 10px rgba(50, 50, 50, .5);
		-moz-box-shadow: 5px 5px 10px rgba(50, 50, 50, .5);
		-o-box-shadow: 5px 5px 10px rgba(50, 50, 50, .5);
		-ms-box-shadow: 5px 5px 10px rgba(50, 50, 50, .5);
		box-shadow: 5px 5px 10px rgba(50, 50, 50, .5);
		
	 	-webkit-transform: scale(1.05);
	    -moz-transform: scale(1.05);
	    -o-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	    transform: scale(1.05);
	}
}

@media print {
    header h1, header h3 {
        color: #111 !important;
    }
    
    header h1 {
        font-size: 5em;
    }
}