@import "base.css";

#contact {
    float: right;
}

.email {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.callout {
    background: transparent;
    border-top: 1px solid #ddd;    
    padding: 1.5em 1.5em 0 1.5em;
    margin-bottom: 1.5em
}

h4 {
    line-height: 1.5em;
    margin-bottom: 0;
}

ol {
    padding: 0;
}

h1, h2 {
	font-weight: bold;
}

nav.page {
	float: right;
	width: auto;
}

header {
	border-bottom: 5px solid #111;
    margin-top: 4em;
}

.experience > li {
    list-style-type: none;
    margin-bottom: 1em;
}

ul.menu li img {
    vertical-align: top;
    margin-top: 2px;
}

.location {
    color: #333;
    font-style: italic;
}

.audio-info {
    color: #eee !important;
}

.audio-info .title {
    font-weight: bold;
}

.audio-info .note {
    color: #ccc !important;
}

audio {
    display: block;
    margin: 1em auto;
	width: 100%;
}

#player1 {
	padding: 1em 1.5em;
	width: 25em;
	bottom: 2em;
	right: 0;
}

#player1 .hold {
	display: block;
	left: 0;
	bottom: -2em;
	position: absolute;
	width: 100%;
	height: 2em;
}

@media screen {
    .wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
		overflow: hidden;
		height: 100%;
    }

    footer .wrapper {
        padding-left: 40px;
    }

	.primary {
		float: left;
		width: 60%;
	}

	.secondary {
		float: right;
		font-size: 80%;
		line-height: 1.75em;
		width: 35%;
	}

	.secondary h2 {
		font-size: 1.5em;
	}

	.secondary li {
		line-height: 2em;
		margin-top: .5em;
	}

}

@media handheld, only screen and (max-device-width: 480px) {
    #contact {
        clear: both;
        float: none !important;
        font-size: 1.5em;
        margin-bottom: 1em;
    }
}
