@import "base.css";

#contact {
    float: right;
}

.email {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.callout {
    background: transparent;
    border-top: 1px solid #ddd;    
    padding: 1.5em 1.5em 0 1.5em;
    margin-bottom: 1.5em
}

h4 {
    line-height: 1.5em;
    margin-bottom: 0;
}

ol {
    padding: 0;
}

h1, h2 {
	font-weight: bold;
}

nav.page {
	float: right;
	width: auto;
}

.primary {
	float: left;
	width: 60%;
}

.secondary {
	float: right;
	font-size: 80%;
	line-height: 1.75em;
	width: 35%;
}

.secondary h2 {
	font-size: 1.5em;
}

.secondary li {
	line-height: 2em;
	margin-top: .5em;
}

.experience > li {
    list-style-type: none;
    margin-bottom: 1em;
}

ul.menu li img {
    vertical-align: top;
    margin-top: 2px;
}

.location {
    color: #333;
    font-style: italic;
}

.audio-info {
    color: #333 !important;
    margin: .5em;
}

.audio-info .title {
    font-weight: bold;
}

.audio-info .note {
    color: #999 !important;
}

audio {
    display: block;
    margin: 20px auto;
}

@media screen {
    header {
		border-bottom: 5px solid #111;
        margin-top: 4em;
    }

    .wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
		overflow: hidden;
		height: 100%;
    }

    footer .wrapper {
        padding-left: 40px;
    }
}

@media print {
    #objective {
        border-color: #333;
    }
}

@media handheld, only screen and (max-device-width: 480px) {
    #contact {
        clear: both;
        float: none !important;
        font-size: 1.5em;
        margin-bottom: 1em;
    }
}
